// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2025 Yao Zi <ziyao@disroot.org>
 */

/dts-v1/;

#include "loongson-2k0300.dtsi"

/ {
	compatible = "loongson,ls2k0300";
	model = "LS2K0300-ALIENTEK";
	product = "ATK-DL2K0300B-V01";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led0 {
			label = "sys-led";
			gpios = <&gpio 89 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
		led1 {
			label = "user-led";
			gpios = <&gpio 70 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "on";
		};
	};

	memory@200000 {
		device_type = "memory";
		reg = <0 0x00200000 0 0x0ee00000>,
		      <0 0x90000000 0 0x30000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x02000000>;
			linux,cma-default;
		};
	};
};

&pinctrl {
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&gmac0 {
	status = "okay";
	phy-handle = <&yt8531h0>;
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		yt8531h0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			motorcomm,led0_cfg = <0x40>; //千兆常亮
			motorcomm,led1_cfg = <0x30>; //百兆 十兆常亮
			motorcomm,led2_cfg = <0x2600>; //有数据时闪烁
		};
	};
};

&gmac1 {
	status = "okay";
	phy-handle = <&yt8531h1>;
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		yt8531h1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			motorcomm,led0_cfg = <0x40>; //千兆常亮
			motorcomm,led1_cfg = <0x30>; //百兆 十兆常亮
			motorcomm,led2_cfg = <0x2600>; //有数据时闪烁
		};
	};
};

&sdio1 {
	pinctrl-0 = <&sdio1_pins>;
	pinctrl-names = "default";
	cap-sd-highspeed;
	cap-mmc-highspeed;
	bus-width = <4>;
	cd-gpios = <&gpio 63 GPIO_ACTIVE_LOW>;
	status = "okay";
};
