// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2025 Loongson Technology Corporation Limited
 * Copyright (C) 2025 Yao Zi <ziyao@disroot.org>
 */

/dts-v1/;

#include <dt-bindings/clock/loongson,ls2k-clk.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "loongson,ls2k0300";
	#address-cells = <2>;
	#size-cells = <2>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "loongson,la264";
			reg = <0>;
			device_type = "cpu";
			clocks = <&clk LS2K0300_CLK_NODE_GATE>;
		};

	};

	cpuintc: interrupt-controller {
		compatible = "loongson,cpu-interrupt-controller";
		interrupt-controller;
		#interrupt-cells = <1>;
	};

	refclk: clock-120m {
		compatible = "fixed-clock";
		clock-frequency = <120000000>;
		clock-output-names = "refclk_120m";
		#clock-cells = <0>;
	};

	soc@10000000 {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges = <0x00 0x10000000 0x00 0x10000000 0x0 0x10000000>,
			 <0x00 0x02000000 0x00 0x02000000 0x0 0x04000000>,
			 <0x00 0x40000000 0x00 0x40000000 0x0 0x40000000>;

		clk: clock-controller@16000400 {
			compatible = "loongson,ls2k0300-clk";
			reg = <0x0 0x16000400 0x0 0x30>;
			clocks = <&refclk>;
			#clock-cells = <1>;
		};

		liointc0: interrupt-controller@16001400 {
			compatible = "loongson,liointc-2.0";
			reg = <0x0 0x16001400 0x0 0x40>,
			      <0x0 0x16001040 0x0 0x8>;
			reg-names = "main", "isr0";

			interrupt-controller;
			#interrupt-cells = <2>;

			interrupt-parent = <&cpuintc>;
			interrupts = <2>;
			interrupt-names = "int0";

			loongson,parent_int_map = <0xffffffff>, /* int0 */
						  <0x00000000>, /* int1 */
						  <0x00000000>, /* int2 */
						  <0x00000000>; /* int3 */
		};

		liointc1: interrupt-controller@16001440 {
			compatible = "loongson,liointc-2.0";
			reg = <0x0 0x16001440 0x0 0x40>,
			      <0x0 0x16001048 0x0 0x8>;
			reg-names = "main", "isr0";

			interrupt-controller;
			#interrupt-cells = <2>;

			interrupt-parent = <&cpuintc>;
			interrupts = <4>;
			interrupt-names = "int2";

			loongson,parent_int_map = <0x00000000>, /* int0 */
						  <0x00000000>, /* int1 */
						  <0xffffffff>, /* int2 */
						  <0x00000000>; /* int3 */
		};

		uart0: serial@16100000 {
			compatible = "ns16550a";
			reg = <0 0x16100000 0 0x10>;
			clocks = <&clk LS2K0300_CLK_APB_GATE>;
			interrupt-parent = <&liointc0>;
			interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		uart1: serial@16100400 {
			compatible = "ns16550a";
			reg = <0 0x16100400 0 0x10>;
			interrupt-parent = <&liointc0>;
			interrupts = <1 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		uart2: serial@16100800 {
			compatible = "ns16550a";
			reg = <0 0x16100800 0 0x10>;
			interrupt-parent = <&liointc0>;
			interrupts = <2 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		uart3: serial@16100c00 {
			compatible = "ns16550a";
			reg = <0 0x16100c00 0 0x10>;
			interrupt-parent = <&liointc0>;
			interrupts = <2 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		uart4: serial@16101000 {
			compatible = "ns16550a";
			reg = <0 0x16101000 0 0x10>;
			interrupt-parent = <&liointc0>;
			interrupts = <2 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		uart5: serial@16101400 {
			compatible = "ns16550a";
			reg = <0 0x16101400 0 0x10>;
			interrupt-parent = <&liointc0>;
			interrupts = <2 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		uart6: serial@16101800 {
			compatible = "ns16550a";
			reg = <0 0x16101800 0 0x10>;
			interrupt-parent = <&liointc0>;
			interrupts = <3 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		uart7: serial@16101c00 {
			compatible = "ns16550a";
			reg = <0 0x16101c00 0 0x10>;
			interrupt-parent = <&liointc0>;
			interrupts = <3 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		uart8: serial@16102000 {
			compatible = "ns16550a";
			reg = <0 0x16102000 0 0x10>;
			interrupt-parent = <&liointc0>;
			interrupts = <3 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		uart9: serial@16102400 {
			compatible = "ns16550a";
			reg = <0 0x16102400 0 0x10>;
			interrupt-parent = <&liointc0>;
			interrupts = <3 IRQ_TYPE_LEVEL_HIGH>;
			no-loopback-test;
			status = "disabled";
		};

		gpio: gpio@16104000 {
			compatible = "loongson,ls2k0300-gpio";
			reg = <0x0 0x16104000 0x0 0x4000>;
			interrupt-parent = <&liointc1>;
			interrupts = <21 IRQ_TYPE_LEVEL_HIGH>,
				     <22 IRQ_TYPE_LEVEL_HIGH>,
				     <23 IRQ_TYPE_LEVEL_HIGH>,
				     <24 IRQ_TYPE_LEVEL_HIGH>,
				     <25 IRQ_TYPE_LEVEL_HIGH>,
				     <26 IRQ_TYPE_LEVEL_HIGH>,
				     <27 IRQ_TYPE_LEVEL_HIGH>;
			ngpios = <106>;
			gpio-controller;
			gpio-ranges = <&pinctrl 0 0 106>;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			resets = <&rst RST_GPIO>;
		};

		isa@16400000 {
			compatible = "isa";
			#address-cells = <2>;
			#size-cells = <1>;
			ranges = <1 0x0 0x0 0x16400000 0x4000>;
		};
	};
};
